<div class="container-fluid">
<h1>Web cam</h1>
<canvas id="canvas" width="640" height="480"></canvas>
</div>
<div class="container-fluid">
<button class="btn btn-secondary btn-lg" id="onSave">Save</button>
</div>	
{{#section 'jquery'}}
<script>

var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');
var rect = {};
var drag = false;
var imageObj = null;

function init() {
    imageObj = new Image();
    imageObj.onload = function () { ctx.drawImage(imageObj, 0, 0); };
    imageObj.src = '/picture/config/viewLive.jpg';
    canvas.addEventListener('mousedown', mouseDown, false);
    canvas.addEventListener('mouseup', mouseUp, false);
    canvas.addEventListener('mousemove', mouseMove, false);
}

function mouseDown(e) {
    rect.startX = e.pageX - this.offsetLeft;
    rect.startY = e.pageY - this.offsetTop;
    drag = true;
}

function mouseUp() { drag = false; }

function mouseMove(e) {
    if (drag) {
        ctx.clearRect(0, 0, 768, 576);
        ctx.drawImage(imageObj, 0, 0);
        rect.w = (e.pageX - this.offsetLeft) - rect.startX;
        rect.h = (e.pageY - this.offsetTop) - rect.startY;
        ctx.strokeStyle = 'red';
        ctx.strokeRect(rect.startX, rect.startY, rect.w, rect.h);
    }
}
//
init();
 $(document).ready(function() {
	
    console.log('ready');
    $("#onSave").on( "click", function() {
        var area = rect.w * rect.h;
        
        if( area < 8000)
        {
        	alert("Area to schmall:" + area);
        	return;
        }
        
        $.get( "save",{  startX: rect.startX, startY: rect.startY, w: rect.w, h: rect.h} , function( data ) {
            
            console.log(data);
            location.reload();
            
          });
       
    });
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    }); 
  });
</script>
{{/section}}