
<div class="container-fluid">
<br>
<button type="button" id="deleteAll" class="btn btn-outline-primary">Delete all</button>

<br>
</div>
<div class="container-fluid">

  <p>Folders.</p>

  {{#each fileNames.data}}
  <button type="button" class="btn btn-primary">{{name}}</button>
  {{/each}}

</div>


{{#section 'jquery'}}
<script type="text/javascript">
 $(document).ready(function() {
	 
   $("#deleteAll").on( "click", function() {

     
    });
    $.each($('#navbarNav').find('li'), function() {
        $(this).toggleClass('active',
            '/' + $(this).find('a').attr('href') == window.location.pathname);
    });
    
  });
</script>
{{/section}}