<div class="container-fluid">
  <div class="btn-group-vertical mr-2">
    <h1>Video</h1>
    <a href="videodeleteall" class="btn btn-danger btn-lg active mb-4" role="button" aria-pressed="true">Delete all</a>
    {{#each fileNames.data}}
    <div>
      <video controls preload="metadata"  width="100%">
        <source src="/video/backup/{{name}}#t=1" type="video/webm">
      </video>
      <a href="videodelete?day={{name}}" class="btn btn-primary btn-lg active mb-4" role="button"
        aria-pressed="true">Delete</a>
    </div>
    {{/each}}
  </div>
</div>


{{#section 'jquery'}}
<script type="text/javascript">
  $(document).ready(function () {
    $.each($('#navbarNav').find('li'), function () {
      $(this).toggleClass('active',
        '/' + $(this).find('a').attr('href') == window.location.pathname);
    });
  });
</script>
{{/section}}
